<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdlsThroughputAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AdlsThroughputAnalyzer.Properties.Settings>
            <setting name="SubscriptionId" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="BlobSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MaxSegmentSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MaxThreadCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TempFileLocal" serializeAs="String">
                <value>D:\tmp\AdlsThroughputAnalyzer.txt</value>
            </setting>
            <setting name="TempFileRemote" serializeAs="String">
                <value>/AdlsThroughputAnalyzer/AdlsThroughputAnalyzer.txt</value>
            </setting>
        </AdlsThroughputAnalyzer.Properties.Settings>
    </userSettings>
</configuration>